<%= form_for(@how) do |f| %>
  <% if @how.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@how.errors.count, "error") %> prohibited this how from being saved:</h2>

      <ul>
      <% @how.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
